/*

## Home files
!.xbindkeysrc
!.xinitrc
!.zshenv
!.gitignore
!.latexmkrc
!README.md

## Local files
!.local/
.local/*
!.local/bin/

## Config files
!.config/
.config/*
!.config/betterlockscreen/
!.config/fd/
!.config/nvim/
!.config/ranger/
!.config/suckless/
!.config/x/
!.config/zsh/
.config/zsh/*
!.config/zsh/.fzf.zsh
!.config/zsh/.p10k.zsh
!.config/zsh/.zprofile
!.config/zsh/.zshrc
!.config/zsh/aliasrc
.config/tmux/plugins/
!.config/tmux/
