/*  Firefox home  */
@-moz-document url("about:home"), url("about:newtab"), url("about:privatebrowsing") {
  /*  Logo and Search bar  */
  .logo-and-wordmark{display: none !important}
  .search-wrapper {display: none !important}

  /*  Background  */
  body::before {
      content: "" ;
      z-index: -1 ;
      position: fixed ;
      top: 0 ;
      left: 0 ;
      background: #0E0806 no-repeat url(./bg.jpg) center ;
      background-size: cover ;
      width: 100vw ;
      height: 100vh ;
  }
}
